<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ng module controller</title>

</head>
<body>
     <div ng-app="myApp" ng-controller="myCtrl">
     姓：<input type="text" ng-model="firstName"/><br>
     名：<input type="text" ng-model="lastName"/> <br>
     <br>
     姓名：{{firstName+"   "+ lastName}} 

     </div>
</body> 
<script src="../lib/angular/angular.min.js"></script>
<script>
    var app=angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
     $scope.firstName="yuan";
     $scope.lastName="dahai";
    });
  
  </script>
</html>